/* 
 * Headers 
 */
body {
	margin:20px;
	letter-spacing: 0;
	font: 14px/14px 'CamboRegular', Arial, sans-serif;
	color: #666;
	background-color: #f2f2f2;
	overflow-x: hidden;
}

h1.title {
	font: 42px/42px 'CamboRegular', Arial, sans-serif;
}

h2.title {
	margin: 10px 0px;
	padding: 0px !important;
	font: 24px/24px 'CamboRegular', Arial, sans-serif;
}

h3.title {
	margin: 0px;
	padding: 0px !important;
	font: 14px/32px 'CamboRegular', Arial, sans-serif;
	cursor: move;
}

h3.title:hover{
	background-color: #FFF;
}

/*
 * Composition
 */

div.composition {
	max-width: 500px;
}

div.section-wrapper, div.alternates-section-wrapper{
	margin:5px;
}

div.section, div.alternates-section {
	min-height: 24px;
}

div.phrase, div.alternates-phrase{
	border-bottom:1px solid #c8eefe;
	font: 14px/24px 'CamboRegular', Arial, sans-serif;
	margin:0px auto;
}

div.placeholder{
	border:1px dotted #666;
	background-color: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
	filter: alpha(opacity=50);  /* IE 5-7 */
	-moz-opacity: 0.5; /* Netscape */
	-khtml-opacity: 0.5; /* Safari 1.x */
	opacity: 0.5; /* Good browsers */
}

div.phrase:hover {
	background-color: #fff;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
	filter: alpha(opacity=50);  /* IE 5-7 */
	-moz-opacity: 0.5; /* Netscape */
	-khtml-opacity: 0.5; /* Safari 1.x */
	opacity: 0.5; /* Good browsers */
}

.dragging-new-phrase {
	background-color: #fff;
	text-decoration: none;
	color:#000;
}

.dragging-new-section {
	background-color: #fff;
	padding:10px;
	text-decoration: none;
	color:#000;
	width:300px;
	height: 50px;
}

#altcount {
	margin:20px auto;
}

/* Elements */
small {
	font-style: oblique;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
	filter: alpha(opacity=50);  /* IE 5-7 */
	-moz-opacity: 0.5; /* Netscape */
	-khtml-opacity: 0.5; /* Safari 1.x */
	opacity: 0.5; /* Good browsers */
}

pre {
	text-align:left; 
	width:400px;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size:10px;
}

#trash {
	background-image: url(../img/218-trash2.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	background-color: #fff;
	border:1px solid d2d2d2;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	position: fixed;
	right:10px;
	bottom:10px;
	display:none;
}

#trash.hover {
	background-color: #FADEE9;
}

#emptyTrash{
	float: right;
}

#alternates {
	margin:0px auto 20px;
	padding:20px;
	background-color: #fff;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .1);
}

#alternates h3.title {
	cursor: pointer;
}
